* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: "Quicksand", sans-serif;
}

section {
  height: 100vh;
  width: 100%;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chats {
  position: relative;
  max-width: 704px;
  width: 100%;
  height: 562px;
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 48px 32px;
  overflow: hidden;
}

.chats__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.chat {
  max-width: 301px;
  width: 100%;
  padding: 8px 12px;
  border-radius: 16px 16px 16px 4px;
  border: 1px solid #4d4d4d;
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0.8) 0%,
    rgba(48, 48, 48, 0.8) 99.91%
  );
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  color: #fff;
  line-height: 140%;
  opacity: 0;
  visibility: hidden;
}

.chat[data-chat="2"] {
  padding: 12px 15px;
  max-width: 349px;
  border-radius: 22px 22px 4px 4px;
  background: linear-gradient(
    90deg,
    rgba(254, 125, 194, 0.8) 0%,
    rgba(80, 43, 63, 0.4) 144.51%
  );
}

.circle {
    --r: 808px;
    position: absolute;
    top: 100%;
    right: 100%;
    font-size: 62.5%;
    transform: translate(calc(var(--r) / 2), calc(-1 * (var(--r) / 2))) rotate(235deg);
    width: var(--r);
    height: var(--r);
    border-radius: var(--r);
    border: 2px solid #2D322C;
    opacity: 0.5;
    background: conic-gradient(from 90deg at 50% 50%, #DBFF1D 39.375deg, #FE7DC2 118.125deg, #FE7DC2 174.375deg, #FFA50E 296.2500071525574deg);

}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(64px);
    backdrop-filter: blur(64px);
}

.Typewriter__cursor {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0.4s;
}

.Typewriter__cursor.hide {
  opacity: 0;
  visibility: hidden;
}